/* Padding */

.p-1 {
    padding: 5px !important;
}

.p-2 {
    padding: 10px !important;
}

.p-3 {
    padding: 15px !important;
}

.p-4 {
    padding: 20px !important;
}

.p-5 {
    padding: 25px !important;
}

.p-6 {
    padding: 30px !important;
}

.p-7 {
    padding: 35px !important;
}

.p-8 {
    padding: 40px !important;
}

.p-9 {
    padding: 45px !important;
}

.p-10 {
    padding: 50px !important;
}

.btn-success {
    background-color: #00C2AC !important;
    border: none;
    color: #fff;
    font-weight: bold;
}

.card {
    -webkit-box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.card .card-thumbnail small {
    position: absolute;
    padding: 5px 10px !important;
    right: 15px;
    top: 15px;
    background-color: #00C2AC;
    color: #fff;
}

.card .card-heading {
    padding: 5px 10px;
}

.card .card-heading .card-title {
    font-size: 16px;
    font-weight: bold;
}

.card .card-body {
    padding: 5px 10px;
    text-align: justify;
    text-indent: 15px;
}

.card .card-footer {
    padding: 5px 10px;
}